#gamehelp-component {
  position: fixed;
  top: 110px;
  height: 600px;
  width: 70%;
  padding: 10px;
  display: none;
  flex-direction: column;
  color: white;
  background-color: rgba(61, 61, 61, 0.952);
  border-radius: 20px;
}

#gamehelp-header {
  display: flex;
  align-items: center;
}

#gamehelp-heading {
  margin-left: auto;
}

#gamehelp-exit-btn {
  margin-left: auto;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  background-color: rgb(255, 12, 12);
  border: none;
  border-radius: 4px;
}

#gamehelp-exit-btn:hover {
  cursor: pointer;
  background-color: rgb(165, 20, 20);
}
