#game-screen-component {
  position: relative;
  display: flex;
  flex-direction: column;
}

#game-screen-btns {
  position: fixed;
  top: 80px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-screen-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100px;
  background-color: gray;
}

.game-screen-btn:hover {
  /* add box shadow on hover */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  outline: 2px solid white;
}

.game-screen-btn span {
  color: white;
}

/* #highscore-btn {

}

#gamehelp-btn {

} */
