#header-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 10px;
  background-color: rgb(66, 52, 145);
}
#heading {
  font-size: 3em;
  color: white;
}
#header-btns {
  display: flex;
  gap: 10px;
}
