#highscores-component {
  position: fixed;
  top: 110px;
  height: 600px;
  width: 70%;
  padding: 20px 20px 40px 20px;
  display: none;
  flex-direction: column;
  color: white;
  background-color: rgba(61, 61, 61, 0.952);
  border-radius: 20px;
}

#highscore-header {
  display: flex;
  align-items: center;
}

#highscore-heading {
  margin-left: auto;
  font-size: 2.2em;
}

#highscore-exit-btn {
  margin-left: auto;
  width: 30px;
  height: 30px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  background-color: #cc241d;
  border: none;
  border-radius: 4px;
}

#highscore-exit-btn:hover {
  cursor: pointer;
  background-color: #fb4934;
}

#highscore-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 60px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
}

.score {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 2.6em;
  background-color: var(--main-bg-color);
  border-radius: 10px;
}
