#highscores-component {
  /* add scroll bar and stuff later */
  position: absolute;
  top: 89px;
  height: 700px;
  width: 90vw;
  padding: 10px;
  display: none;
  /* ^ change to flex ^ */
  flex-direction: column;
  color: white;
  background-color: rgba(61, 61, 61, 0.952);
  border-radius: 20px;
}

#highscore-header {
  display: flex;
  align-items: center;
}

#highscore-heading {
  margin-left: auto;
}

#highscore-exit-btn {
  margin-left: auto;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  background-color: rgb(255, 12, 12);
  border: none;
  border-radius: 4px;
}
#highscore-exit-btn:hover {
  cursor: pointer;
  background-color: rgb(165, 20, 20);
}
