* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(243, 243, 243);
}
/* #root {
} */
.open {
  display: block !important;
}

.open-flex {
  display: flex !important;
}

.closed {
  display: none !important;
}

/* .material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 0, 'GRAD' 0, 'opsz' NaN;
} */
