* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(134, 87, 221);
}
/* #root {
} */
.open {
  display: block !important;
}

.open-flex {
  display: flex !important;
}

.close {
  display: none !important;
}
