* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Handjet", cursive;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  --main-bg-color: #5a7854;
  --alt-bg-color: #3e5442;
  --highlight-color: #689d6a;
  --main-font-color: #dbd181;

  color: var(--main-font-color);
}

a {
  text-decoration: none;
}

body {
  background-color: #3d3634;
}

.open {
  display: block !important;
}

.open-flex {
  display: flex !important;
}

.closed {
  display: none !important;
}
