#target-cont {
  position: fixed;
  align-self: center;
  padding: 10px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.target {
  padding: 8px 20px 8px 20px;
  font-size: 1.5em;
  font-weight: 500;
  background-color: var(--main-bg-color);
  border-radius: 30px;
}

.wasHit {
  filter: brightness(60%);
  outline: 4px solid rgb(54, 255, 54);
}
